<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW 5</title>
    <link rel="shortcut icon" href="../../public/media/img/favicon.png" type="image/png">
    <script src="https://kit.fontawesome.com/bee6fd2016.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
    
</head>
<body>
    <header id="facts">
        <nav>
            <a href="../index.ejs" class = "nav">Home Page</a>
                
            <a href="./my_resume.ejs" class = "nav">My Resume</a>
              
            <a href="#facts" class = "nav">Fun Facts About Me</a>

            <a href="./trivia.ejs" class = "nav">Trivia</a>
        </nav>
    </header>
    <main>
        <h1>Some Fun Facts About Me!</h1>
        <section class="favorite_book">
            <h2>My Current Favorite Book</h2>
            <p>
                Below you can find the cover of my current favorite book, The Complete Sherlock Holmes: Volume 1 by Sir Arthur Conan Doyle.
                I watched the BBC show Sherlock over the summer, starring Benedict Cumberbatch and Martin Freeman. The show was a modern telling
                of the stories written by Doyle, so I decided to start reading the original stories, and they are very interesting. 
            </p>
            <p>
                You can purchase the book on: <br><br>
                    <a href="https://www.amazon.com/Complete-Sherlock-Holmes-Barnes-Classics/dp/1593080344/ref=sr_1_3?crid=SKZ3NDO0JLXG&dchild=1&keywords=sherlock+holmes+volume+1&qid=1633484673&sprefix=sherlock+holmes%2Caps%2C204&sr=8-3" 
                    aria-label="Amazon" target="_blank">
                        <i class="fab fa-amazon fa-2x"></i>
                    </a>
                    &nbsp;
                    &nbsp;
                    <a href="https://www.barnesandnoble.com/w/complete-sherlock-holmes-volume-i-arthur-conan-doyle/1100318390?ean=9781593080341" 
                    aria-label="Barnes & Noble" target="_blank">
                        <i class="fas fa-book fa-2x"></i>
                    </a>
                </p>
                
            <figure>
                <img src="../../public/media/img/sherlock_holmes_book.jpg" width="15%"" alt="Cover of Volume 1 of Sherlock Holmes" title="Sherlock Holmes - Volume 1">
                <figcaption>Stories of Sherlock Holmes</figcaption>
            </figure>
            
        </section>
        <section class="favorite_song">
            <h2>My Current Favorite Song</h2>
            <p>
                Below is a snippet from the song "Beer Never Broke My Heart" performed by Luke Combs.
            </p>
    
            
            <audio src="../../public/media/audio/luke_combs_beer_heart.mp3#t=7,53" controls>
                Unfortunately, the Audio File is Not Supported in Your Browser
            </audio>
            <p>
                Listen to it Here: <br><br>
                <a href="https://www.youtube.com/watch?v=ANH4fIlHh9s" aria-label="YouTube" target="_blank">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
                <a href="https://open.spotify.com/track/7aEtlGHoiPAfRB084NiDmx?si=df09cc6841324bc7" aria-label="Spotify" target="_blank">
                    <i class="fab fa-spotify fa-2x"></i>
                </a>
            </p>
        </section>
        <section class="favorite_movie_or_tv_show">
            <h2>My Current Favorite Movie or TV Show</h2>
            <p>
                Below is the trailer for my current favorite movie, The Lord of the Rings: The Return of the King. I realize
                that it came out years ago, but I have been watching this movie a lot in the past few months. I love it!
            </p>
    
            <video src="../../public/media/video/lotr_rotk_trailer.mp4" controls width="45%">
                Your Browser Does Not Support the Video Format.
            </video>
    
        </section>
    </main>
    
    <footer>
        <hr>
        <p class="p_footer">&copy;Steven Klein, 2021</p>
        <section class="section_footer">
            <a href="mailto:sklein2@oakland.edu" aria-label="Email" target="_blank">
                <i class="fas fa-at fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/steven.klein.79025" aria-label="Facebook" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://twitter.com/smklein16" aria-label="Twitter" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </section>
    </footer>
</body>
</html>