<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW4 Portfolio</title>
    <link rel="shortcut icon" href="../../public/media/img/favicon.png" type="image/png">
    <script src="https://kit.fontawesome.com/bee6fd2016.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header id="resume">
        <nav>
            <a href="../index.ejs" class = "nav">Home Page</a>
                
            <a href="#resume" class = "nav">My Resume</a>
                
            <a href="./my_fun_facts.ejs" class = "nav">Fun Facts About Me</a>

            <a href="./trivia.ejs" class = "nav">Trivia</a>
        </nav>
    </header>
    <h1>Steven Klein - Resume</h1>
        <h2 class="resume_h2">
            <address>16127 Hauss Ave. <br> Eastpointe, MI 48021</address><br>
            Email: sklein2@oakland.edu<br>
            Phone: (586) 382-2444
        </h2>
    <main class="my_resume_main">
        
        <section class="resume_objective">
            <h3>Objective</h3>
            <p class="p_resume">I am seeking an internship for Summer 2022 in an IT related field.</p>
        </section>
        <section class="resume_prof_exper">
            <h3>Professional Experience</h3>
                <h4>Start Date -- End Date; Job Role; Company Name; Location</h4>
                    <h5>May 2020 - Present; Front End Assistant; Costco Wholesale; Roseville, MI</h5>
                        <p class="p_resume">
                            I assist cashiers, put items in their proper place, and help make the warehouse look presentable.
                        </p>
                    <h5>August 2019 - March 2020; Member Service Assistant; OU RecWell; Oakland University - Rochester Hills, MI</h5>
                        <p class="p_resume">
                            I would welcome people into the Rec Center on Oakland's campus, and I would handle any member questions or issues.
                        </p>
    
                    <h5>March 2018 - August 2018; Administratrive Assistant; Sikora & Associates; St. Clair Shores, MI</h5>
                        <p class="p_resume">
                            I helped design an organizational system in the filing cabinets, I would assemble tax returns, and handle misc. 
                            tasks around the office.
                        </p>
        </section>
        <section class="resume_educ_exper">
            <h3>Educational Experience</h3>
                <p class="p_resume">Below you will find my educational experience in tabular form.</p>
                    <table border="2">
                        <tr>
                            <th>Start -- End</th>
                            <th>Degree</th>
                        </tr>
                        <tr>
                            <td>2018-2023</td>
                            <td>Bachelor of Science in Information Technology<br>
                                Oakland University<br>
                                Rochester Hills, MI
                            </td>
                        </tr>
                    </table>
        </section>
        <section class="resume_extracurricular">
            <h3>Extracurricular Interests and Hobbies</h3>
                <p class="p_resume">
                    I enjoy working out at the gym, watching movies or tv shows, and playing games. Although I don't do it as often as I would like to,
                    I also enjoy reading books.
                </p>
        </section>
    </main>
    
    <footer>
        <hr>
        <p class="p_footer">&copy;Steven Klein, 2021</p>
        <section class="section_footer">
            <a href="mailto:sklein2@oakland.edu" aria-label="Email" target="_blank">
                <i class="fas fa-at fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/steven.klein.79025" aria-label="Facebook" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://twitter.com/smklein16" aria-label="Twitter" target="_blank">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </section>
    </footer>
</body>
</html>