<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW 5</title>
    <link rel="shortcut icon" href="../../public/media/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header id="trivia">
        <nav>
            <a href="../index.ejs" class = "nav">Home Page</a>
                
            <a href="./my_resume.ejs" class = "nav">My Resume</a>
                
            <a href="./my_fun_facts.ejs" class = "nav">Fun Facts About Me</a>

            <a href="#trivia" class = "nav">Trivia</a>
        </nav>
    </header>
    <h1>Trivia Page</h1>
    
    <p>Trivia Question #1: Who is the True Heir to the Iron Throne?</p>
    <!-- let correct1 = "Jon Snow" -->
    <!-- if(userInput === correct1)
    {
        counter++;
        res.send("Correct!");
    }
else{
    res.send("Sorry, better luck next time");
} -->
        <button>Tommen Baratheon</button>
        <button>Jon Snow</button> <!--correct answer-->
        <button>Danerys Targaryen</button>
        <button>Stannis Baratheon</button>
    <p>Trivia Question #2: Who Played James Bond the Longest?</p>
    <!-- let correct2 = "Daniel Craig" -->
    <!-- if(userInput === correct2)
    {
        counter++;
        res.send("Correct!");
    }
else{
    res.send("Sorry, better luck next time");
} -->
        <button>Pierce Brosnan</button>
        <button>Sean Connery</button>
        <button>Daniel Craig</button> <!--correct answer-->
        <button>Roger Moore</button>
    <p>Trivia Question #3: Which Christmas Movie features a main character named 'Clark Griswold'?</p>
    <!-- let correct3 = "National Lampoon's : Christmas Vacation" -->
    <!-- if(userInput === correct3)
    {
        counter++;
        res.send("Correct!");
    }
else{
    res.send("Sorry, better luck next time");
} -->
        <button>A Christmas Story</button>
        <button>Home Alone</button>
        <button>Die Hard</button>
        <button>National Lampoon's : Christmas Vacation</button> <!--correct answer-->
    <p>Trivia Question #4: What is the Name of the Wizard from the Lord of the Rings Franchise?</p>
    <!-- let correct4 = "Gandalf the White" -->
    <!-- if(userInput === correct4)
    {
        counter++;
        res.send("Correct!");
    }
else{
    res.send("Sorry, better luck next time");
} -->
        <button>Gandalf the White</button> <!--correct answer-->
        <button>Gordolf the Grey</button>
        <button>Gannandorf the White</button>
        <button>Grandorf the Blue</button>
    <p>Trivia Question #5: Who Played Clark Kent in 'Man of Steel'?</p>
    <!-- let correct5 = "Henry Cavill" -->
    <!-- if(userInput === correct5)
    {
        counter++;
        res.send("Correct!");
    }
else{
    res.send("Sorry, better luck next time");
} -->
        <button>Brandon Routh</button>
        <button>Christopher Reeve</button>
        <button>Henry Cavill</button> <!--correct answer-->
        <button>Tyler Hoechlin</button>
</body>
</html>