<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW 5</title>
    <link rel="shortcut icon" href="../../public/media/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header id="trivia">
        <nav>
            <a href="/" class = "nav">Home Page</a>
                
            <a href="/resume" class = "nav">My Resume</a>
                
            <a href="/funFacts" class = "nav">Fun Facts About Me</a>

            <a href="#trivia" class = "nav">Trivia</a>
        </nav>
    </header>
    <h1>Trivia Page</h1>
    <form action="url" method="post">
        Trivia Question #1: In Game of Thrones, who is the True Heir to the Iron Throne?<br>
        A. Tommen Baratheon <br>
        B. Jon Snow <br><!--correct answer-->
        C. Danerys Targaryen <br>
        D. Stannis Baratheon <br>
        <input type="text"></input>
        <button type="submit">Submit</button>
    </form>

    <form action="url" method="post">
        Trivia Question #2: Who Played James Bond the Longest?<br>
        A. Pierce Brosnan <br>
        B. Sean Conner <br>
        C. Daniel Craig <br> <!--correct answer-->
        D. Roger Moore <br>
        <input type="text"></input>
        <button type="submit">Submit</button>
    </form>

    <form action="url" method="post">
        Trivia Question #3: Which Christmas Movie features a main character named 'Clark Griswold'?<br>
        A. A Christmas Story <br>
        B. Home Alone <br>
        C. Die Hard <br>
        D. National Lampoon's : Christmas Vacation <br> <!--correct answer-->
        <input type="text"></input>
        <button type="submit">Submit</button>
    </form>

    <form action="url" method="post">
        Trivia Question #4: What is the Name of the Wizard from the Lord of the Rings Franchise?<br>
        A. Gandalf the White <br> <!--correct answer-->
        B. Gordolf the Grey <br>
        C. Gannandorf the White <br>
        D. Dumbledore <br>
        <input type="text"></input>
        <button type="submit">Submit</button>
    </form>

    <form action="url" method="post">
        Trivia Question #5: Who Played Clark Kent in 'Man of Steel'?<br>
        A. Brandon Routh <br>
        B. Christopher Reeve <br>
        C. Henry Cavill <br> <!--correct answer-->
        D. Tyler Hoechlin <br>
        <input type="text"></input>
        <button type="submit">Submit</button>
    </form>

    <p>Trivia Question #5: Who Played Clark Kent in 'Man of Steel'?</p>
    <!-- let correct5 = "Henry Cavill" -->
    <!-- if(userInput === correct5)
    {
        counter++;
        res.send("Correct!");
    }
else{
    res.send("Sorry, better luck next time");
} -->
        
</body>
</html>