<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW 5</title>
    <link rel="shortcut icon" href="../../public/media/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header id="trivia">
        <nav>
            <a href="../index.ejs" class = "nav">Home Page</a>
                
            <a href="./my_resume.ejs" class = "nav">My Resume</a>
                
            <a href="./my_fun_facts.ejs" class = "nav">Fun Facts About Me</a>

            <a href="#trivia" class = "nav">Trivia</a>
        </nav>
    </header>
    <h1>Trivia Page</h1>
    <p>Trivia Question #1:</p>
        <button>Choice #1</button>
        <button>Choice #2</button>
        <button>Choice #3</button>
        <button>Choice #4</button>
    <p>Trivia Question #2:</p>
        <button>Choice #1</button>
        <button>Choice #2</button>
        <button>Choice #3</button>
        <button>Choice #4</button>
    <p>Trivia Question #3:</p>
        <button>Choice #1</button>
        <button>Choice #2</button>
        <button>Choice #3</button>
        <button>Choice #4</button>
    <p>Trivia Question #4:</p>
        <button>Choice #1</button>
        <button>Choice #2</button>
        <button>Choice #3</button>
        <button>Choice #4</button>
    <p>Trivia Question #5:</p>
        <button>Choice #1</button>
        <button>Choice #2</button>
        <button>Choice #3</button>
        <button>Choice #4</button>
</body>
</html>